html{
  scroll-behavior: smooth;
}

/*body{
  background-color: #141414f7;
}*/

::-webkit-scrollbar{
  display: none;
}

.header{
  width: 100%;
  overflow: hidden;
  /*background-color: #282828;*/
  z-index: 6;
}

.header .headerCont{
  display: flex;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header input{
  display: none;
  border-width: 2px;
  border-color: #FFC244;
  border-radius: 20px;
  border-style: solid;
}

.header input:focus{
  outline: none;
}

.header .logo{
 padding-left: 3%;
 padding-right: 6%;
 height: fit-content;
 display: block;
 margin-top: auto;
 margin-bottom: auto;
}

.header img{
  width: 90px;
  height: auto;
}

.header .al{
  display: flex;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  align-items: center;
}

.header .ubicacion{
  display: flex;
  max-width: 80%;
  max-height: 65%;
  overflow: hidden;
  margin-right: 2%;
  float: right;
}

.header .ubicacion svg{
  width: 25px;
  height: 25px;
  fill: black;
}

.header .ubicacion h1{
  font-size: 15px;
  overflow: hidden;
  color: #a9a9a9;
  margin: 0;
}

.header .list{
  float: right;
  width: 35px;
  height: 35px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  fill: black;
}

.headerBottom{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-bottom:/*#2ABB9B*/black;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  z-index: 6;
}

#bagIcon{
  width: 28px;
  height: 28px;
  fill: black;
  margin-left: 1%;
  margin-right: 6%;
}

.header .person-login{
  float: right;
  fill: black;
}

/*MODAL-IZQ*/
.containerIzq{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;    
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
}

.mContent {
  background-color: #282828;
  height: 100%;
  display: none;
  float: right;
}

.mContent .borrar svg{
float: left;
width: 30px;
height: 30px;
display: block;
fill: white;
margin-left: 5%;
margin-top: 5%;
}

.mContent .borrar svg:hover{
width: 35px;
height: 35px;
}

.mContent .opciones{
  padding-top: 50px;
list-style-type: none;
text-align: left;
display: block;
margin-left: auto;
margin-right: auto;
}

.mContent .opciones .opcion{
color: white;
}
/*modalUbicacion*/
#myModalUbi{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 6; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8);
}

#myModalUbi  .modal-content {
background-color: #282828;
margin: auto;
border: 1px solid #FFC244;
top: 30%;
height: 270px;
z-index: 9;
border-radius: 20px;
}

/* The Close Button */
#myModalUbi .close {
color: #aaaaaa;
position: absolute;
right: 5%;
top: 3%;
}

#myModalUbi .close:hover{
color: white;
}

#myModalUbi .modal-content h2{
font-size: 12px;
margin-left: 6%;
margin-top: 12%;
color:#ffda26;
}

#myModalUbi .modal-content h1{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: x-large;
font-weight: 600;
margin-top: 1%;
margin-left: 6%;
text-align: left;
color: whitesmoke;
}

#myModalUbi .modal-content .ubicacion{
width: 88%;
border-style: solid;
border-width: 2px;
border-color:#FFC244;
border-radius: 9px;
margin-left: auto;
margin-right: auto;
height: 15%;
margin-top: 2%;
}

#myModalUbi .modal-content input{
border:none;
height: 100%;
width: 85%;
color: grey;
background-color: #282828;
}

#myModalUbi .modal-content input:focus{
outline: none;
}

#myModalUbi .modal-content .ubicacion svg{
margin-left: 2%;
fill: #FFC244;
}

#myModalUbi .modal-content .span{
position: absolute;
width: 100%;
bottom: 8%;
}

#myModalUbi .modal-content .span button{
width: 88%;
display: block;
margin: auto;
border-radius: 12px;
border: 4px solid #FFC244;
color: grey;
font-weight: 600;
}

#myModalUbi .modal-content .span button:focus{
outline: none;
}

/*IniciarSesion*/
.modalIni {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 12; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalIni .modal-content {
  background-color: #fefefe;
  margin: auto;
  overflow: hidden;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow-y: scroll;
}

/* The Close Button */
.modalIni .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalIni .close:hover,
.modalIni .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalIni .headerIniciarSesion{
  width: 100%;
  border-bottom: solid #a9a9a9 1px;
  height: 56px;
}

.modalIni .headerIniciarSesion .left{
  width: 85%;
  height: 100%;
  border-right: solid #a9a9a9 1px;
}

.modalIni .headerIniciarSesion .left h1{
  padding-top: 13px;
  padding-left: 5%;
  font-size: 1.25rem;
  letter-spacing: 0;
  line-height: 1.5rem;
  font-weight: 700;
}

.modalIni .headerIniciarSesion .right{
  width: 15%;
  transition: all 0.5s;
}

.modalIni .headerIniciarSesion .right:hover{
  background-color: #dfdfdf;
}

.modalIni .iniciarSesionContainer{
  height: 100%;
}

.modalIni .logoContainer{
   width: 95%;
}

.modalIni .headerIniciarSesion{
  display: inline-flex;
}

.modalIni .headerIniciarSesion svg{
  display: block;
  margin: auto;
  height: 100%;
  width: 70%;
}

.modalIni .headerIniciarSesion img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-left: 11%;
}

.modalIni .headerIniciarSesion div{
  width: 90%;
}

.modalIni .labelIniciarSesion {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.modalIni .containerFormulario{
  margin-top: 7%;
  margin-left: 7%;
  margin-right: 7%;
}

#iniciarSesionCont{
  padding-bottom: 10%;
  border-bottom: solid 1px #888888;
}

.modalIni .containerFormulario #iniForm{
  margin-top: 8%;
}

.modalIni .containerFormulario #iniForm .userIni{
  padding-bottom: 7%;
  position: relative;
}

.modalIni .containerFormulario #iniForm .userIni h2{
  color: #a9a9a9;
  text-transform: uppercase;
  font-size: 13px;
}

.modalIni .containerFormulario #iniForm .userIni input{
  width: 100%;
  height: 40px;
  border: solid 1px rgb(63, 63, 63);
  color: #000;
  outline: black;
  font-weight: 600;
}

.modalIni .containerFormulario #iniForm .userIni svg{
  position: absolute;
  right: 3%;
  width: 20px;
  height: 20px;
  top: 50%;  
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.modalIni .containerFormulario #iniForm .options{
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.modalIni .containerFormulario #iniForm .options .wpp{
  font-size: 12px;
  width: 50%;
  margin-right: 5px;
}

.modalIni .containerFormulario #iniForm .options .forgotPassword{
  font-size: 12px;
  position: absolute;
  right: 0;
  width: fit-content;
  max-width: 44%;
  height: auto;
}

.modalIni .button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  width: 100%;
  height: 40px;
  background: black;
  color: white;
  border: none;
  outline: transparent;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.5s;
}

.modalIni .button:hover{
  background-color: #f7f7f7;
  color: #000;
}

#registerForm{
  padding-top: 10%;
  padding-bottom: 10%;
  border-bottom: solid 1px #888888;
}

#registerForm h1{
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

#registerForm h3{
  font-size: 15px;
  font-weight: 500;
  color: #a9a9a9;
  margin-top: 5%;
}

/*Tipos*/

.tiposBoxContainer{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.7%;
}

.tiposBoxContainer .tiposBox{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 150px;
  align-items: center;
  height: 60px;
  overflow-x: scroll;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 100%;
  width: fit-content;
  border-style: solid;
  border-width: 4.5px;
}

.tiposBoxContainer .tiposBox.h1{
  margin-left: 5px;
}
.tiposBoxContainer .tipos{
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 100px;
  background-color: white;
  min-width: fit-content;
  height: 35px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);
  overflow: hidden;
  border-color: #FFC244;
  border-width: 1px;
  transition: all 0.3s;
  color: transparent;
}
.tipos:hover {
  border-style: solid;
  border-width: 3px;
  color: transparent;
}

.tiposBoxContainer .tipos h3{
  color: #282828;
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: auto;
  margin-top: auto;
}

/*Restaurantes*/
.restCont{
margin-top: 6%;
margin-left: auto;
margin-right: auto;
margin-bottom: 5%;
} 

#restaurantesContainer{
  /*background-color: #212121;*/
  border-style: solid;
  border-color: /*#FFC244*/black;
}

/*.headere h1{
color: #eeeeee;
}*/

#restaurantes{
text-align: center;
position: relative;
display: block;
margin-left: auto;
margin-right: auto;
padding-top: 2%;
margin-bottom: 3%;
}

#restaurantes .restaurante{
overflow: hidden;
display: inline-block;
margin: 2%;
border-radius: 20px;
transition: all 0.4s;
}

#restaurantes .restaurante .header{
width: 100%;
height: 100%;
}

#restaurantes .restaurante .header img{
  width: 100%;
  height: 100%;
  filter: blur(2px);
  object-fit: cover;
  
}

#restaurantes .restaurante .body{
  height: auto;
  position: relative;
  top: -63%;
  z-index: 5;
  display: flex;
}

#restaurantes .restaurante .body .text .left{
  position: absolute;
  left: 0;
  width: 55%;
  height: 80%;/*72*/
}

#restaurantes .restaurante .body .text .right{
  position: absolute;
  right: 0;
  width: 50%;
  height: /*72*/80%;
}

#restaurantes .restaurante .body .text span{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#restaurantes .restaurante .body .text h3{
  font-size: 18px;
  color: #eeeeee;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

#restaurantes .restaurante .body .text svg{
  width: 15px;
  height: 15px;
  fill: white;
  margin-right: 2%;
}

#restaurantes .restaurante .body .text{
width: 100%;
height: 40px;
background-color: rgb(40 40 40 / 0.8);
margin-top: 10px;/*
border-bottom: solid #2ABB9B 2px;
border-top: solid #2ABB9B 2px;*/
display: flex;
}

#restaurantes .restaurante .body h1{
font-size: 27px;
margin-left: 90px;
width: 70%;
text-align: left;
overflow: hidden;
color: #ded9d9;
}

#restaurantes .restaurante .body .logo{
border-radius: 100%;
width: 60px;
height: 60px;
background-color: white;
border-style: solid;
border-width: 2px;
border-color: #2ABB9B;
position: absolute;
top: 59%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 5;
}

#restaurantes .restaurante .body .logo img{
resize: both;
width: 100%;
height: 100%;
border-radius: 100%;
}

#restaurantes .restaurante .top{
display: flex;
position: absolute;
background-color: hotpink;
width: fit-content;
right: 0;
}

#restaurantes .restaurante .top .calificacion{
display: flex;
width: fit-content;

}

#restaurantes .restaurante .top .calificacion h1{
color: black;
font-size: 20px;
width: fit-content;
margin: 0;
}

#restaurantes .restaurante .top .calificacion svg{
width: 15px;
height: 15px;
}

#restaurantes .restaurante .top .distancia{
color: black;
font-size: 20px;
width: fit-content;
margin: 0;
}

#restaurantes .restaurante:hover{
border: solid;
border-width: 3px;
border-color: #FFC244;
}

#restaurantes .restaurante:not(:hover){
border-width: 1px;
}

/*CARRITO*/
.containerFactura{
  display: none;
  position: fixed;
  z-index: 12;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
}

.modalContent {
  background-color: #282828;
  margin: auto;
  width: 500px;
  height: 100%;
  float: right;
}

.headerNombrePagina{
  border-bottom: solid;
  border-bottom-width: 2px;
  border-color: #ff2426;
  margin-right: 8%;
  margin-left: 8%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.headerNombrePagina img{
  width: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.headerNombrePagina svg{
  --main-svg-width: 25px;
  float:left;
  width: var(--main-svg-width);
  height: var(--main-svg-width);
  display: block;
  fill: white;
  margin-right: calc(-1*(var(--main-svg-width)));
}

.headerNombrePagina svg:hover{
  --main-svg-width: 40px;
}
.headerUsuario {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  border-bottom: solid;
  border-bottom-width: 0.1px;
  border-color: #ff2426;
}
.headerUsuario img{
  border-style: solid;
  border-color: #ff2426;
  border-width: 2px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-bottom: 5%;
}
.headerUsuario h1{
  margin-left: 8px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 5%;
  color: white;
}

.headerRestaurante{
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-bottom: solid;
  border-bottom-width: 0.1px;
  border-color: #ff2426;

}

.headerRestaurante img{
  width: 50px;
  height: 50px;
  border-radius: 10%;
  margin-bottom: 5%;
}

.headerRestaurante h1{
  margin-left: 8px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 5%;
  color: white;
}
.headerRestaurante h2{
  font-size: 12px;
  text-align: right;
  display: block;
  color: #f7732d;
}
.headerRestaurante h2:hover{
  font-size: 15px;
}

.pedidos{
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom:5%;
}
.pedidos ul{
  overflow-y: scroll;
  height: 290px;
  padding-inline-start: 0%;

}

#platos .header{
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: white;
}

#platos .header h1{
  font-size: 15px;
  color: white;
}

.pedido{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: #7d7d7d;
  padding: 10px 5px;
}

.platoCarritoDiv{
  margin-left: 8px;
}

.platoCarritoDiv h5{
  font-size: 12px;
  color: #7d7d7d;
}

.pedidos .pedido img{
  border-style: solid;
  border-color: silver;
  border-width: 1px;
  width: 50px;
  height: 50px;
  border-radius: 10%;
}

.pedidos .pedido h3{
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0px;
  white-space: nowrap;
  color: white;
  margin-left: 8px;
}

.pedidos .pedido .p h2, h4{
  font-size: 15px;
  text-align: right;
  display: block;
  color: #7d7d7d;
  margin-bottom: 0px;
}

.pedidos .pedido .p{
  text-align: right;
  margin: 0px auto 0px auto;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.pedidos .pedido .p svg{
  display: none;
  width: 20px;
  height: 20px;
  /*fill: #f7732d;*//*naranja o negro*/
  margin-left: 10px;
  fill: white;
}

.pedidos .pedido .p svg:hover{
  width: 30px;
  height: 30px;
}

.pedir{
  /*margin-left: 8%;*/
  margin-top: 10px;
  display: inline-flex;
  width: 100%;
}

.pedir button{
  border-radius: 6px;
  color: white;
  border: #f7732d;
}

.pedir button:active{
  border-style: none;
}

.pedir button:focus{
  border-style: none;
}

.pedir div{
  margin-left: 75px;
}

.pedir svg{
  margin-top:8px;
  fill: white;
  /*lo centre a mano fijarse de cambiarlo*/
}
.pedir svg:hover {
  fill: red;
}

::-webkit-scrollbar{
  display: none;
}
.modal{
  display: none;
  /* position: fixed; */
  z-index: 1;
  /* left: 0; */
  /* top: 0; */
  /* width: 100%; */
  /* height: 100%; */
  /* overflow: auto; */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
}
/*carrousel*/

#imagen1{
  display: block;
  margin: auto;
}
#imagen2, #imagen3, #imagen4{
  display: none;
  margin: auto;

}
#cr{
  display: block;
  width: 80%;
  height: 65%;
  margin: auto;
  position: relative;
  margin-top: 2%;
  box-shadow: 0px 3px 6px 4px #888888;
}

#imagesCarrousel img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#points{
  z-index: 1;
  margin-top: -4%;
  text-align: center;
  position: relative;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: white;
}

#adelante{
  float: right;
}

#atras{
  float: left;
}

#rey{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  opacity: 0.4;
}

.buttonCR{
  position: absolute;
  left: 20%;
  top: 60%;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.buttonCR h1{
  font-size: 22px;
  color: #000;
  margin: 0;
}

.buttonCR:hover{
  opacity: 0.5;
}

/*pf*/

.bottom{
  background-color: rgb(40, 40, 40);
  height: auto;
  position: relative;
}

.bottom .body{
  padding: 5%;
  padding-bottom: 15%;
  justify-content: center;
}

.bottom .body .redesSociales{
  width: 30%;
}

.bottom .body .redesSociales .logos{
  display: inline-block;
  margin-left: -5px;
  margin-top: 15px;
}

.bottom .body .redesSociales .logos img{
  height: 35px;
  width: 35px;
  padding: 5px;
  object-fit: contain;
}

.bottom .body h3{
  color: white;
  font-family: monospace;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 15px;
}

.bottom .body .nosotros{
  width: 30%;
}

.bottom .body .nosotros ul{
  color: white;
  padding: 0;
}

.bottom .body .nosotros li{
  list-style-type: none;
}

.bottom .body .preguntasFrecuentes{
  width: 30%;
}

.bottom .body .preguntasFrecuentes ul{
  color: white;
  padding: 0;
}

.bottom .body .preguntasFrecuentes li{
  list-style-type: none;
}

.bottom .footer{
  text-align: center;
  background-color: #000;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bottom .footer h6{
  color: white;
  font-family: 'FuturaPT-Book', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.2em;
  font-size: 12px;
  margin: 0;
  padding: 5px;
}
/*modal buscador*/
#modalBuscador{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 12; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}

#contentBuscador{
  background-color: #fefefe;
  margin: auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#modalBuscador .headere{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 5%;
}

#modalBuscador .headere .search{
  padding: 5px;
  border-radius: 25px;
  background-color: #f5f5f5;
  position: relative;
  display: flex;
  width: 83%;
}

#modalBuscador .headere .search div{
  border-radius: 100%;
  position: absolute;
  padding-left: 5px;
  padding-top: 5px;
}

#modalBuscador .headere .search svg{
  width: 25px;
  height: 25px;
}

#modalBuscador .headere .search input{
  display: block;
  margin-left: 40px;
  background-color: transparent;
  border: none;
  outline: transparent;
  padding-right: 7%;
  font-size: 18px;
  width: 100%;
}

#modalBuscador .headere .close{
  padding: 5px;
  background-color: #e6e6e6;
  display: block;
  margin-left: auto;
  border-radius: 100%;
}

#modalBuscador .headere .close svg{
  width: 35px;
  height: 35px;
  fill: black;
}

#modalBuscador .body{
  margin-left: 10%;
  margin-top: 12%;
}

#modalBuscador .body h1{
  font-size: 20px;
}

#modalBuscador .body ul{
  padding: 0;
}

#modalBuscador .body li{
  padding: 5px;
  font-size: 18px;
  list-style-type: none;
  color: #888888;
}

@media (max-width: 650px){

  .header .al span{
    display: none;
  }

  .header .person-login{
    width: 35px;
    height: 35px;
    margin-right: 5%;
  }

  .headere h1{
    font-size: 30px;
  }

  /*.header input{
    display: none;
  }*/

  .header .headerCont{
    width: 97%;
  }

  .header .search-cont{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 1%;
  }

  .header .al{
    margin-left: 1%;
  }

  .header .search-icon{
    width: 25px;
    height: 25px;
    margin-right: 5%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    fill: black;
  }
  /*carrousel*/
  #cr{
    width: 95%;
  }

  #points{
    margin-top: -8%;
  }

  .buttonCR{
    top: auto;
    bottom: 15%;
    left: 10%;
  }

  #atras{
    width: 60px;
    height: 60px;
  }

  #adelante{
    width: 60px;
    height: 60px;
  }

  /*tipos*/
  .tiposBoxContainer{
    margin-top: 12%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .tiposBoxContainer .tiposBox{
    border: none;
    border-bottom: solid black 1px;
    border-radius: 0%;
  }

  /*modalUbicacion*/

  #myModalUbi .modal-content{
    width: 85%;
    height: 300px;
  }

  #myModalUbi .modal-content button{
    background-color: white;
    font-size: 120%;
  }

  #myModalUbi .modal-content .ubicacion{
    height: 18%;
  }

  /*modal ini*/
  .modalIni .modal-content {
    width: 100%;
    height:100%;
    border: none;
    border-radius: 0;
  }

  .mContent {
      width: 0;
      display: none;
      max-width: 60%;
  }

  /*restaurantes*/
  .restCont{
    width: 90%;
  } 

  #restaurantesContainer{
    border-width: 2px;
    border-left: none;
    border-right: none;
    /*border-radius: 30px;*/
  }

  #restaurantes .restaurante{
    width: 280px;
    height: 193px;
  }
  
    /*carrito*/
    
    .modalContent {
      background-color: #282828;
      margin: auto;
      width: 100%;
      height: 100%;
      float: right;
  }

  .pedidos .pedido h3{
      max-width: 60%;
  }

  .pedir button{
      background-image: linear-gradient(140deg,#da5306,#ff2b2e 70%);
      height:40px;
      width: 60%;
  }

  .pedir svg{
      width: 25px;
      height: 25px;
      /*lo centre a mano fijarse de cambiarlo*/
  }

  .modal{
      padding-top: 50%;
  }

  
  /*footer*/
  .bottom{
    border-top: solid rgb(150, 150, 150) 3px;
  }

  .bottom .body{
    height: 700px;
  }

  .bottom .body .preguntasFrecuentes{
    width: 100%;
  }

  .bottom .body .nosotros{
    width: 100%;
  }

  .bottom .body .redesSociales{
    width: 100%;
  }

  .bottom .body h3{
    padding-top: 5%;
  }

  .bottom .body .preguntasFrecuentes li{
    font-size: 12px;
    padding-top: 3%;
  }
  
  .bottom .body .nosotros li{
    font-size: 12px;
    padding-top: 3%;
  }

  .bottom .footer{
    padding-top: 5%;
  }
}

@media (min-width: 951px){

  .header .headerCont{
    width: 93%;
  }

  .header .search-cont{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
    margin-left: 3%;
  }

  .header .search-icon{
    width: 25px;
    height: 25px;
    margin-right: 5%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    fill: black;
  }

  .header .person-login{
    width: 35px;
    height: 35px;
    margin-right: 3%;
  }

  #sBarClose{
    top: 2.5%; 
    right: 42%;
  }
  /*carrousel*/

  #atras{
    width: 100px;
    height: 100px;
  }

  #adelante{
    width: 100px;
    height: 100px;
  }

  /*modalUbicacion*/

  #myModalUbi .modal-content{
    width: 430px;
  }

  /*tipos*/
  .tiposBoxContainer{
    margin-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
  }

  /*modalIni*/
  .modalIni .modal-content {
    width: 30%;
    height:500px;
  }

  .mContent {
      width: 0;
      max-width: 25%;
      display: none;
  }

  /*restaurantes*/
  .restCont{
    width: 85%;
  } 

  #restaurantesContainer{
    border-width: 3px;
    border-left: none;
    border-right: none;
  }

  #restaurantes .restaurante{
    width: 332px;
    height: 230px;
  }
  /*carrito*/
  .containerFactura{
    display: none;
    position: fixed;
    z-index: 12;
    top: 0;
    padding-left: 860px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
  }

  .modalContent {
      background-color: #282828;
      margin: auto;
      width: 500px;
      height: 100%;
      float: right;
  }

  .pedidos .pedido h3{
      max-width: 220px;
  }

  .pedir button{
      height:40px;
      width: 250px;
      background-image: linear-gradient(130deg,#ff451a,#ff1517 70%);
  }

  .pedir svg{
      width: 25px;
      height: 25px;
  }

  .modal{
      padding-top: 323px;
      padding-left: 870px;
  }
  /*footer*/
  .bottom .body{
    display: flex;
  }
}

@media (min-width: 651px) and (max-width: 950px){

  #atras{
    width: 60px;
    height: 60px;
  }

  #adelante{
    width: 60px;
    height: 60px;
  }


  .header .headerCont{
    width: 93%;
  }

  .header .search-cont{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
    margin-left: 3%;
  }

  .header .search-icon{
    width: 25px;
    height: 25px;
    margin-right: 5%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    fill: black;
  }

  .header .person-login{
    width: 35px;
    height: 35px;
    margin-right: 3%;
  }
/*carrousel*/
  #atras{
    width: 100px;
    height: 100px;
  }

  #adelante{
    width: 100px;
    height: 100px;
  }
  /*tipos*/
  .tiposBoxContainer{
    margin-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
  }

  /*modalIni*/
  .modalIni .modal-content {
    width: 40%;
    height:85%;
  }
    
  .mContent {
    width: 0;
    max-width: 45%;
    display: none;
  }

  /*modalUbicacion*/

  #myModalUbi .modal-content{
    width: 50%;
  }

  /*restaurantes*/
  .restCont{
    width: 85%;
  } 

  #restaurantesContainer{
    border-width: 3px;
    border-left: none;
    border-right: none;
  }
  #restaurantes .restaurante{
    width: 280px;
    height: 193px;
  }
  

    /*carrito*/
    .containerFactura{
      display: none;
      position: fixed;
      z-index: 6;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.6);
  }
  
  .modalContent {
      background-color: #282828;
      margin: auto;
      width: 500px;
      height: 100%;
      float: right;
  }

  .pedidos .pedido h3{
      max-width: 220px;
  }

  .pedir button{
      height:40px;
      width: 250px;
      background-image: linear-gradient(130deg,#ff451a,#ff1517 70%);
  }

  .pedir svg{
      width: 25px;
      height: 25px;
  }

  .modal{
      padding:auto;
      padding-top: 40%;
  }

  /*footer*/
  .bottom .body{
    display: flex;
  }
}

@media (min-width: 651px) and (max-width: 750px){

.header .search-cont{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  width: 32%;
  margin-left: 3%;
}

#sBarClose{
  top: 2.5%; 
  right: 42%;
}

#myModalUbi .modal-content{
  width: 400px;
}

#points{
  margin-top: -6%;
}
}

@media (min-width: 751px) and (max-width: 900px){
#sBarClose{
  top: 2.5%; 
  right: 37%;
}
}

@media (min-width: 901px) and (max-width: 980px){
#sBarClose{
  top: 2.5%; 
  right: 38%;
}
}

@media (min-width: 981px) and (max-width:1180px){
#sBarClose{
  top: 2.5%; 
  right: 40%;
}
}

@media (min-width: 1180px){
#sBarClose{
  top: 2.5%; 
  right: 42%;
}
}